# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Virtual Environment
# =========================
venv/
.venv/

# =========================
# Database
# =========================
*.db

# =========================
# OS Files (macOS)
# =========================
.DS_Store

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
